
div.container {
    width: 100%;
    border: 1px solid gray;
}

header {
	display: inline;
    padding: 1em;
    color: white;
    background-color: #085FA5;
    clear: left;
    text-align: center;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: 3px;
}

